<div id="FAQnew">
  <div id="FAQnewtop">
    <h2> New Question </h2>
  </div>
    <div class="TopLinks">
         | <%= link_to "Logout", destroy_user_session_path %>  |
      <%= link_to "Wallet", controller: "budgets" %> |
      <%= link_to "Home", controller: "home" %> |
      <%= link_to "Cricket's Stories", controller: "stories"  %> |
    </div>



<%= render "form" %>


    <div class="BottomLinks">
      | <%= link_to "FAQs", controller: "questions" %> |
      <%= link_to "About Budget", controller: "aboutbudget" %> |
      <%= link_to "Contact Us", controller: "contactus" %> |
      <%= link_to "About Us", controller: "aboutus" %> |
    </div>
</div>
