<div id="AboutBudget">
  <h1>About Budget</h1>
  <h3>Have you Cricket-ed today?</h3>
<div class="TopLinks">
    | <%= link_to "User" %>  |
    <%= link_to "Wallet", controller: "budgets" %> |
    <%= link_to "Home", controller: "home" %> |
    <%= link_to "Cricket's Stories", controller: "stories" %> |
</div>
<br>

<div class="AboutBudgetMain">


<!-- WHAT IS BUDGETING QUESTION-->
<!-- ========================= -->
  <img src= "http://i20.photobucket.com/albums/b211/krystlephoto/8947553c-0973-43ea-95fe-cec2ae935dfd_zps8ec25cb8.jpg" id="cricketQ1"/>
  <h3>What is budgeting?</h3>
  <p> Straight from the dictionary is the best way to explain this: "Budgeting is a quantified financial plan for a forthcoming accounting period." It involves strategic plans of spending, saving and maintaining a view on where your income is going.</p>
<br>
<br>
<br>


<!-- WHAT IS BUDGET CRICKET QUESTION -->
<!-- =============================== -->
<br>
<br>
  <h3>What is Budget Cricket?</h3>
   <img src= "http://i20.photobucket.com/albums/b211/krystlephoto/4734d20f-d8c7-40f9-94ae-cb7a3518eb60_zps77e23a53.jpg" id="cricketQ2"/>
  <p> Budget Cricket is a tool to provide users a forecast of income and expenses. It will show the user their model of how their checkbook balances. These tools are handy when you are on a tight budget so the user is able to plan head or accordingly for unexpected situations. Among its tools it is able to help the user establish the cost constraint for the (insert user budget name here) and equally distribute the remainder amount among-st a set amount of days. This lets the user know how much is available in their flexible expense book.</p>

<br>
<br>
<br>

<!-- WHY SHOULD I BUDGET QUESTION -->
<!-- ============================ -->
<br>
<br>
  <h3>Why should I budget?</h3>
  <img src= "http://i20.photobucket.com/albums/b211/krystlephoto/a0a9707b-c8d8-42cd-9ebb-e077eb8e84af_zps347c70a1.jpg" id="cricketQ3"/>
  <p>There are many reasons why budgeting is important but they all depend on the user. Moreover budgeting is useful for insight to personal investments, savings, keeping track of bills, and eases people's minds of any financial stress.</p>
  <!-- haha, can i say that name? is it trademarked? -->
<br>
<br>
<br>

<!-- IS BUDGETING FOR ME QUESTION-->
<!-- =========================== -->
<br>
<br>
<br>
<br>
<br>

  <h3>Is budgeting for me?</h3>
    <img src= "http://i20.photobucket.com/albums/b211/krystlephoto/ac854702-9b97-4a8c-b6ed-2b7ae8bfc756_zps80ab942f.jpg" id="cricketQ4"/>
    <p>
      If you are looking for a personal or family budget application the answer is of course yes! Here is an example if budgeting is for you:
      If the user is a student and is allotted $10,000 per year of college for example the student would use Budget Cricket for accountability towards bills, strive for budget goals, and control resources like; food, fun, gas money, laundry money, books, cell phone, tuition maybe etc. Not only would this let their parents/guardians know where their money is going but it shows that the student has a good sense of responsibility and frugality.
     </p>
<br>
<br>
<br>
<!-- HOW TO BUDGET GENERAL QUESTION-->
<!-- ============================== -->
  <h3>How to Budget for your everyday life!</h3>
    <ol>
      <li>Track your income:
        <p>Do you have a stable income? Fixed income?</p>
      </li>
      <li>Identify how you are spending money:
        <p>Where are your expenses going? What are you buying? What is non-negotiable and what is negotiable?</p>
      </li>
      <li>Add up the amounts of your regular expenses and deduct that from your paycheck:
      <p>If you get a negative number you are spending too much and need to cut back. If you have money left over then you can split that up into groups. ie savings, emergency, projects, trips etc.</p>
      </li>
      <li>Create your budget:
        <p>These should be short-term budget goals like not spending more than a certain amount of money every month or saving a few hundred dollars every month. Also should have long-term goals such as being able to put down a mortgage payment on a home or make a vehicle payment or pay off credit cards completely.
        </p>
      </li>
      <li>Make a list of non-negotiable bills and needs:
        <p>These are deducted from your income first.</p>
      </li>

      <img src= "http://i20.photobucket.com/albums/b211/krystlephoto/d1c395a9-0258-4f2d-b1ed-afe4d79aa833_zps7f902eab.jpg" id="cricketQ5">


      <li>Make a list of negotiable wants and include luxuries:
        <p>These are deducted from your income last. Remember there is a differents between wants and needs. Can you redude these expenses?</p>
      </li>
      <li>Finally: Maintain your budget:
        <p>Don't go over budget, keep your checkbook updated regularly, don't count on bonuses or tax refunds.
        </p>
      </li>
    </ol>

<br>
<br>
<br>
  <div class="BottomLinks">
   | <%= link_to "FAQs", controller: "questions" %> |
    <%= link_to "About Budget", controller: "aboutbudget" %> |
    <%= link_to "Contact Us", controller: "contactus" %> |
    <%= link_to "About Us", controller: "aboutus" %> |
  </div>
<br>


</div>
