<%= form_for(@budget) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :startamount %><br>
    <%= f.text_field :startamount %>
  </p>

  <%= f.submit %>
<% end %>
