<div id="aboutus">
<h1>About Us</h1>
  | <%= link_to "User" %>  |
  <%= link_to "Wallet" %> |
  <%= link_to "Home" %> |
  <%= link_to "Cricket's Stories" %> |

<h3>Who are we?</h3>
<p></p>

<h3>What are we doing?</h3>
<p></p>

<h3>Why are we doing it?</h3>
<p></p>

<h3>How did we get here?</h3>
<p></p>

<h3></h3>
<p></p>


  <div class="BottomLinks">
    | <%= link_to "FAQs" %> |
    <%= link_to "About Budget" %> |
    <%= link_to "Contact Us" %> |
    <%= link_to "About Us" %> |
  </div>
<br>
</div>
