<h1>About Budget</h1>
<h3>Have you Cricket-ed today?</h3>
| <%= link_to "Users" %>  |
  <%= link_to "Wallet" %> |
  <%= link_to "home", controller :home %> |

<!-- WHAT IS BUDGETING QUESTION-->
<!-- ========================= -->

<div>
  <h3>What is budgeting?</h3>
  <p> Straight from the dictionary is the best way to explain this: "Budgeting is a quantified financial plan for a forthcoming accounting period." It involves strategic plans of spending, saving and maintaining a view on where your income is going.</p>
</div>
<br>

<!-- HOW TO BUDGET GENERAL QUESTION-->
<!-- ============================== -->
<div>
  <h3>How to Budget!<h3>
  <p> <p>
</div>
<br>

<!-- WHY SHOULD I BUDGET QUESTION-->
<!-- =========================== -->
<div>
  <h3>Why should I Budget</h3>
  <p> </p>
</div>

<br>
<br>
  | <%= link_to "FAQs" %> |
  <%= link_to "Contact Us" %> |
  <%= link_to "About Us" %> |
<br>
<br>
