<div id="AboutBudget">
  <h1>About Budget</h1>
  <h3>Have you Cricket-ed today?</h3>
    | <%= link_to "User" %>  |
    <%= link_to "Wallet" %> |
    <%= link_to "Home" %> |
    <%= link_to "Cricket's Stories" %> |

<div class="AboutBudgetMain">
<!-- WHAT IS BUDGETING QUESTION-->
<!-- ========================= -->
<div>
  <h3>What is budgeting?</h3>
  <p> Straight from the dictionary is the best way to explain this: "Budgeting is a quantified financial plan for a forthcoming accounting period." It involves strategic plans of spending, saving and maintaining a view on where your income is going.</p>
</div>

<!-- WHAT IS BUDGET CRICKET QUESTION -->
<!-- =============================== -->

<div>
  <h3>What is Budget Cricket?</h3>
  <p> Budget Cricket is a tool to provide users a forecast of income and expenses. It will show the user their model of how their checkbook balances. These tools are handy when you are on a tight budget so the user is able to plan head or accordingly for unexpected situations. Among its tools it is able to help the user establish the cost constraint for the (insert user budget name here) and equally distribute the remainder amount among-st a set amount of days. This lets the user know how much is available in their flexible expense book.</p>
</div>

<!-- WHY SHOULD I BUDGET QUESTION -->
<!-- ============================ -->
<div>
  <h3>Why should I Budget</h3>
  <p>There are many reasons why budgeting is important but they all depend on the user. Moreover budgeting is useful for insight to personal investments, savings, keeping track of bills, and eases people's minds of any financial stress.</p>
</div>

<!-- IS BUDGETING FOR ME QUESTION-->
<!-- =========================== -->
<div>
  <h3>Is budgeting for me?</h3>
    <p>
      If you are looking for a personal or family budget application the answer is of course yes!</p>
    <p>
      Here is an example if budgeting is for you:
      If the user is a student and is allotted $10,000 per year of college for example the student would use Budget Cricket for accountability towards bills, strive for budget goals, and control resources like; food, fun, gas money, laundry money, books, cell phone, tuition maybe etc. Not only would this let their parents/guardians know where their money is going but it shows that the student has a good sense of responsibility and frugality.
     </p>
     <p>Also check out the link regarding Cricket's Stories at the bottom of the page!</p>
</div>

<!-- HOW TO BUDGET GENERAL QUESTION-->
<!-- ============================== -->
<div>
  <h3>How to Budget!</h3>
    <ol>
      <li>Track your income:
        <p>Do you have a stable income? Fixed income?</p>
      </li>
      <li>Identify how you are spending money:
        <p>Where are your expenses going? What are you buying? What is non-negotiable and what is negotiable?</p>
      </li>
      <li>Add up the amounts of your regular expenses and deduct that from your paycheck:
      <p>If you get a negative number you are spending too much and need to cut back. If you have money left over then you can split that up into groups. ie savings, emergency, projects, trips etc.</p>
      </li>
      <li>Create your budget:
        <p>These should be short-term budget goals like not spending more than a certain amount of money every month or saving a few hundred dollars every month. Also should have long-term goals such as being able to put down a mortgage payment on a home or make a vehicle payment or pay off credit cards completely.
        </p>
      </li>
      <li>Make a list of non-negotiable bills and needs:
        <p>These are deducted from your income first.</p>
      </li>
      <li>Make a list of negotiable wants and include luxuries:
        <p>These are deducted from your income last. Remember there is a differents between wants and needs. Can you redude these expenses?</p>
      </li>
      <li>Finally: Maintain your budget:
        <p>Don't go over budget, keep your checkbook updated regularly, don't count on bonuses or tax refunds.
        </p>
      </li>
    </ol>

</div>
<br>
<br>
  <div class="BottomLinks">
    | <%= link_to "FAQs" %> |
    <%= link_to "About Budget" %> |
    <%= link_to "Contact Us" %> |
    <%= link_to "About Us" %> |
  </div>
<br>
<!-- ABOUT BUDGET MAIN DIV ENDING-->
</div>
<!--ABOUT BUDGET ENDING -->
<!--I ended up having to do this cause of a break line-->
</div>
