 <div id="contact">
  <h1>Contact Us</h1>
 | <%= link_to "User" %>  |
    <%= link_to "Wallet" %> |
    <%= link_to "Home" %> |
    <%= link_to "Cricket's Stories" %> |
<br>
<h2>Diana Pham</h2>
<p>Twitter: @dianaphamhere</p>
<p>GitHub: github.com/dianapham</p>
<p>Email: insert which ever email you want to use Diana</p>
<br>
<h2>Krystle Frisbie</h2>
<p>Twitter: @Stangcutie723</p>
<p>GitHub: github.com/Stangcutie723</p>
<p>Email: Stangcutie723@gmail.com</p>
<br>
    <div class="BottomLinks">
    | <%= link_to "FAQs" %> |
    <%= link_to "About Budget" %> |
    <%= link_to "Contact Us" %> |
    <%= link_to "About Us" %> |
  </div>
  <br>
</div>
