<div id= "homeindex">
  <h1>Budget Cricket Home</h1>
  <h3>Have you Cricket-ed today?</h3>
    | <%= link_to "User" %>  |
      <%= link_to "Wallet" %> |
      <%= link_to "Cricket's Stories" %> |
<br>
<br>

</div>

<div id="home">








<br>
<br>
  <div class="BottomLinks">
    | <%= link_to "FAQs" %> |
    <%= link_to "About Budget" %> |
    <%= link_to "Contact Us" %> |
    <%= link_to "About Us" %> |
  </div>
</div>
<br>
<br>
