<h1>Budget Cricket Home</h1>
<h3>Have you Cricket-ed today?</h3>
<p></p>
  | <%= link_to "Users" %>  |
  <%= link_to "Wallet" %> |
<br>
<br>










<br>
<br>
  | <%= link_to "FAQs" %> |
  <%= link_to "About Budget" %> |
  <%= link_to "Contact Us" %> |
  <%= link_to "About Us" %> |
<br>
<br>
