  <div id= "homeindex">
    <h1>Budget Cricket Home</h1>
    <h3>Have you Cricket-ed today?</h3>
      | <%= link_to "User" %>  |
        <%= link_to "Wallet" %> |
        <%= link_to "Cricket's Stories" %> |
<br>
    <div class="tips">
      <h2>Tip of the day:<h2>
    </div>
<br>
<br>
    <div class="BottomLinks">
      | <%= link_to "FAQs" %> |
      <%= link_to "About Budget", controller: "aboutbudget" %> |
      <%= link_to "Contact Us", controller: "contactus" %> |
      <%= link_to "About Us", controller: "aboutus" %> |
    </div>
<br>

  </div>

