<div id="stories">
    <div id="storiestop">
      <h1>Cricket's Stories</h1>
    </div>
    <div class="TopLinks">
      | <%= link_to "User" %>  |
      <%= link_to "Wallet", controller: "budgets" %> |
      <%= link_to "Home", controller: "home" %> |
      <%= link_to "Cricket's Stories", controller: "stories"  %> |
    </div>
<br>
<br>

<!--User 1 experience -->
<!--==================-->
<h2>Annie's Experience</h2>
<p>While using Budget Cricket I really had an easy time impressing my parents with how well I budgeted for college expenses and with my good grades! YAY HONOR ROLE! They were so impressed! I love making them proud!</p>
<br>
<br>
<!--User 2 experience -->
<!--==================-->
<h2>James' Experience</h2>
<p>Budget Cricket helped me get my life back on track. I was able to put money back into my savings account in just 3 paychecks! Turned out I was spurging too much on wants and kicked my needs to the side. I am very pleased with Budget Cricket. It gets 4 stars from me!</p>
<br>
<br>
<!--User 3 experience -->
<!--==================-->
<h2>Cynthia's Experience</h2>
<p>I work FT and go to class FT and somehow I was left with so little in my savings. Budget Cricket helped me see where all my momey was going. It allowed me to view where I needed to adjust my spending and has saved me a lot of money, time and effort. It is so easy to use and navigate! Not like those other budget devices that are just too confusing and make you lose interest after just one use. Way to go Budget Cricket!</p>
<br>

<br>
    <div class="BottomLinks">
      | <%= link_to "FAQs", controller: "questions" %> |
      <%= link_to "About Budget", controller: "aboutbudget" %> |
      <%= link_to "Contact Us", controller: "contactus" %> |
      <%= link_to "About Us", controller: "aboutus" %> |
    </div>
</div>
