<div id="contact">
  <div id="contacttop">
    <h1>Contact Us</h1>
  </div>

  <div class="TopLinks">
    |<%= link_to "Wallet", controller: "budgets" %> |
    <%= link_to "Home", controller: "home" %> |
    <%= link_to "Cricket's Stories", controller: "stories"  %> |
  </div>
<br>

  <table id= "ContactK">
    <th>
      <div id="names"> Krystle Frisbie </div>
    </th>
    <tr>
      <td>
        <img src="https://secure.gravatar.com/avatar/9ff6c0eee8be09fa9637721ab84d4236?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" id="krystlepic"/>
      </td>
      <td>
        <div id="KrystlePara">
          <p>Twitter: @Stangcutie723</p>
          <p>GitHub: github.com/Stangcutie723</p>
          <p>Email: Stangcutie723@gmail.com</p>
          <p>Quote: "If you want it bad enough, <br>
            you'll go for it with all you've got!"</p>
        </div>
      </td>
    </tr>
  </table>
  <br>
  <table id= "ContactD">
    <th>
      <div id="names"> Diana Pham</div>
    </th>
    <tr>
      <td>
        <img src="https://secure.gravatar.com/avatar/7379ea3e31c2045f19d81ced3550d355?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" id="dianapic"/>
      </td>
      <td>
        <div id="dianapara">
          <p>Twitter: @dianaphamhere</p>
          <p>GitHub: github.com/dianapham</p>
          <p>Email: dianaphamis@gmail.com</p>
          <p>Quote: "I started with $14.00. How about you?"</p>
        </div>
      </td>
    </tr>
  </table>
  <br>
  <table id= "ContactC">
    <th>
      <div id="names"> Cricket </div>
    </th>
    <tr>
      <td>
        <img src="https://si0.twimg.com/profile_images/378800000222199589/7fa3813fac1998a39435ad821327b256.jpeg" id="cricketpic"/>
      </td>
      <td>
        <div id="cricketpara">
          <p>Twitter: @budgetcricket</p>
          <p>GitHub: github.com/Stangcutie723/budgetcricket.git</p>
          <p>Email: budgetcricket@gmail.com</p>
          <p>Quote: "Have you Cricket-ed today?"</p>
        </div>
      </td>
    </tr>
  </table>
  <br>
  <br>
    <div class="BottomLinks">
    | <%= link_to "FAQs", controller: "questions" %> |
    <%= link_to "About Budget", controller: "aboutbudget" %> |
    <%= link_to "Contact Us", controller: "contactus" %> |
    <%= link_to "About Us", controller: "aboutus" %> |
  </div>
  <br>
</div>
