  <div id="aboutus">
    <div id="aboutustop">
      <h1>About Us</h1>
    </div>

  <div class="TopLinks">
    | <%= link_to "Logout", destroy_user_session_path %>  |
    <%= link_to "Wallet", controller: "budgets" %> |
    <%= link_to "Home", controller: "home" %> |
    <%= link_to "Cricket's Stories", controller: "stories"  %> |
  </div>

  <table>
    <tbody>
      <tr>
        <td>
          <img src="http://i20.photobucket.com/albums/b211/krystlephoto/Github/1069284_10152023936433696_1587202209_n_zpscd522986.jpg" id="AboutUsPic"/>
        </td>
        <td>
          <div id ="aboutQ">
            <h3>Who are we?</h3>
              <p>
                We are a couple of Ruby developers trying to survive a bootcamp. Just doing one command at a time. We both have different pasts but the same goal, the goal to succeed and make a better future.
              </p>
            <h3>What are we doing?</h3>
              <p>Uh, well you know, we're totally working our butts off trying to carve our way into the tech field. How? Well, by creating web apps, like Budget Cricket, that will hopefully win everyone's hearts over. To quote Krystle: "HEART BUBBLE ATTACK!"</p>
          <h3>How did you two get involved in the project?</h3>
            <p>
              We sat together on the first day and our personalities bonded together like a great Big BANG! When the "class project" was announced we leaned toward each other and began casual conversation regarding a partnership. With nearly perfect communication and flexible ideas Budget Cricket was born!
            </p>
          <h3>How did we get here?</h3>
            <p>Krystle drives to a park and ride, gets on a bus, walks a mile each morning. Diana goes on full ju-jitsu action, grabs her water and starts walking!
          </p>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
  <br>


  <div class="BottomLinks">
    | <%= link_to "FAQs", controller: "questions" %> |
    <%= link_to "About Budget", controller: "aboutbudget" %> |
    <%= link_to "Contact Us", controller: "contactus" %> |
    <%= link_to "About Us", controller: "aboutus" %> |
  </div>
<br>
</div>
