
<div id="aboutus">
    <div id="aboutustop">
        <h1>About Us</h1>
    </div>
<div class="TopLinks">
    | <%= link_to "User" %>  |
    <%= link_to "Wallet", controller: "budgets" %> |
    <%= link_to "Home", controller: "home" %> |
    <%= link_to "Cricket's Stories", controller: "stories"  %> |
</div>

<h3>Who are we?</h3>

<p>Oh you know, we're just two Ruby on Rails developers in a bootcamp trying to make it into the world. Yep, one cricket story at a time.</p>

<h3>What are we doing?</h3>

<p>Uh, well you know, we're totally working our butts off trying to carve our way into the tech field. How? Well, by creating web apps, like Budget Cricket, that will hopefully win everyone's hearts over. To quote Krystle: "HEART BUBBLE ATTACK!"</p>

<h3>Why are we doing it?</h3>

<p>WHY? More like, why not?</p>

<h3>How did we get here?</h3>

<p>Krystle has a car and a bus pass. Diana has legs.</p>

<br>

  <div class="BottomLinks">
    | <%= link_to "FAQs", controller: "questions" %> |
    <%= link_to "About Budget", controller: "aboutbudget" %> |
    <%= link_to "Contact Us", controller: "contactus" %> |
    <%= link_to "About Us", controller: "aboutus" %> |
  </div>
<br>
</div>
