<div id="postshow">
  <div id="posttop">
    <h1>Cricket Stories</h1>
    <div class="TopLinks">
      |<%= link_to "Wallet", controller: "budgets" %> |
      <%= link_to "Home", controller: "home" %> |
      <%= link_to "Cricket's Stories", controller: "stories" %> |
    </div>
  </div>
  <div id="story">
      |<%= link_to 'Edit Story', edit_post_path(@post) %>|
      |<%= link_to 'Back', posts_path %>|
    <h2>
      <strong><%= @post.title %></strong><br>
    </h2>
    <h2>
      <strong>Story:</strong><br>
    </h2>
    <p>
      <%= @post.text %>
    </p>
    <h2>
      <strong>Comments:</strong><br>
    </h2>
    <p>
      <%= render @post.comments %>
    </p>
    <h4>Add a comment:</h4>
    <p>
      <%= render "comments/form" %>
    </p>
  </div>

  <br>
  <br>
  <div class="BottomLinks">
    |<%= link_to "FAQs", controller: "questions" %> |
    <%= link_to "About Budget", controller: "aboutbudget" %> |
    <%= link_to "Contact Us", controller: "contactus" %> |
    <%= link_to "About Us", controller: "aboutus" %> |
  </div>
  <br>
  <br>
</div>
